# Exlude the anyrun lib files
config/anyrun/lib/*.so

# Exclude all the eww/resources files
config/eww/resources/*
!config/eww/resources/example.conf

# Exclude the current theme files
config/dotmgr/themes/_current/*

# Exclude the fonts folder
config/dotmgr/fonts/*

# Exclue the applications folder for now
applications/*

# Exclude the tmux plugins
config/tmux/plugins/*
