# Exlude the anyrun lib files
config/anyrun/lib/*.so

# Exclude all the eww/resources files
config/eww/resources/*
!config/eww/resources/example.conf

# Exlude the current theme files
config/dotmgr/themes/_current/*

# Exclue the applications folder for now
applications/*
