@import "/home/chris/.config/dotmgr/themes/_current/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMonoNL Nerd Font", monospace;
  font-size: 15px;
  margin: 1px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.active * {
  font-size: 17px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-notification,
#custom-menu, menu {
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-menu, menu * {
  font-size: 18px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

tooltip {
  padding: 2px;
  background-color: alpha(@foreground, 0.1);
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}
